.AboutMenu {
  width: 280px;
  transform: translateX(100%);
}

.AboutMenu.shown {
  transform: translateX(0);
  transition: transform 320ms ease 200ms;
}

.AboutMenu-backdrop {
  opacity: 0;
  pointer-events: none;
}

.AboutMenu-backdrop.shown {
  opacity: 0.9;
  pointer-events: auto;
  transition: opacity 200ms ease;
}

@media all and (min-width: 400px) {
  .AboutMenu {
    width: 360px;
  }
}

